.menu-button-pause{
	background-image: var(--menu-icon-pause-image);
}

.menu-button-inspection{
	background-image: var(--menu-icon-inspection-image);
}

.menu-button-setting{
	background-image: var(--menu-icon-settings-image);
}