.card-body-background {
	background-color: var(--inspection-window-body-background);
}
.card-body-flash {
	background-color: var(--inspection-window-body-flash-colour);
}
.card-body-photo-frame{
	background-image: var(--inspection-window-body-photo-frame-image);
}
