.navigation {
    background-color: var(--navigation-default-background-colour);
    height: 220px;
}

.navigation-button-tab {
    background-color: var(--navigation-button-background-colour);
    min-width: 365px;
}

.navigation-button-tab:hover:enabled {
    background-color: var(--navigation-button-background-colour);
}

.navigation-button-tab:disabled {
    opacity: 1;
    background-color: var(--navigation-button-background-colour);
}

.navigation-button-tab:hover:enabled > .content-container {
    background-color: var(--navigation-hover-item-background-colour);
    border-width: 1px;
}

.navigation-button-tab-selected > .content-container > #LabelContainer > .content-label {
    color: var(--navigation-selected-item-colour);
}

.navigation-button-tab-selected > .content-container > .content-icon {
    -unity-background-image-tint-color: var(--navigation-selected-item-colour);
}

.navigation-button-tab-selected > .navigation-bar-container > .navigation-bottom-bar {
    min-height: 9px;
    margin-top: 0;
    background-color: var(--navigation-selected-item-colour);
}

.navigation-bar-container {
    min-height: 9px;
}

.navigation-bottom-bar {
    min-height: 1px;
    margin-top: 8px;
    background-color: var(--navigation-bottom-bar-default-colour);
}

.content-container {
    background-color: var(--navigation-button-background-colour);
    border-color: var(--navigation-button-background-colour);
    width: 340px;
    height: 80px;
}

.content-label {
    color: var(--navigation-default-item-colour);
}

.content-icon {
    -unity-background-image-tint-color: var(--navigation-default-item-colour);
    min-width: 32px;
    min-height: 32px;
    margin-right: 10px;
}