.information-dialog {
    background-color: var(--information-dialog-background-colour);
    max-width: 1000px;
    min-width: 1000px;
    min-height: 500px;
}

.information-dialog-canvas {
	background-color: var(--canvas-dim-colour);
}

.information-dialog-content {
	margin-right: 100px;
    margin-left: 100px;
}

.information-dialog-title-label {
    color: var(--information-dialog-title-label-colour);
}

.information-dialog-description-label {
    color: var(--information-dialog-description-label-colour);
}